<section class="col-xs-12" id="help">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3 class="title">How to run Plagiarism Detector</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 hero-section">
      <ul class="list-group">
        <li class="list-group-item">
          <div>1) Click on <strong>Get to Work!</strong> button or <strong>Login</strong> link in the navigation bar</div>
        </li>
        <li class="list-group-item">
          <div>2) Enter your credentials. For testing use: username = <strong>Tester</strong>, password = <strong>Test123</strong></div>
        </li>
        <li class="list-group-item">
          <div>
            3) Instructor needs to upload only <strong>ONE</strong> zip file which will contain repositories of students.
            Only java files in the student's submission will be considered by the application and any other files will be ignored.
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <p>4) Example of expected zip file format:<h5>Please only upload <strong>submission.zip</strong> file.</h5></p>
            <img src="../images/upload_instruction.png" alt="Instructions" height="300" width="500">
          </div>
        </li>
        <li class="list-group-item">
          <div>
            5) Once files are uploaded successfully, click <strong>Detect Plagiarism</strong> button.
          </div>
        </li>
        <li class="list-group-item">
          <div>
            6) Results will be loaded in the same dashboard page and you can view more details about any perticulr match by clicking <strong>Show More Details</strong> button.
          </div>
        </li>
      </ul>
    </div>

    <div class="row text-center">
      <div class="col-xs-12 text-center">
        <h3 class="title col-xs-4 col-xs-offset-4">Contact Us</h3>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <ul class="list-group team">
          <li class="list-group-item">
            Abhishek Mulay : mulay.a@husky.neu.edu
          </li>
          <li class="list-group-item">
            Daniel Daskivich : d.daskivich@neu.edu
          </li>
          <li class="list-group-item">
            Piyush Goel : goel.p@husky.neu.edu
          </li>
          <li class="list-group-item">
            Robin Nag : nag.r@husky.neu.edu
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
