<div id="home" class="col-xs-12">
  <div class="row hero-section ">
    <div class="col-xs-12 text-center">
      <h3 class="title">Plagiarism Detector</h3>
      <p4 class="sub-title">BY</p4>
    </div>
    <div class="col-xs-12 text-center col-md-4 col-md-offset-4">
      <ul class="list-group team">
        <li class="list-group-item">Abhishek Mulay</li>
        <li class="list-group-item">Daniel Daskivich</li>
        <li class="list-group-item">Piyush Goel</li>
        <li class="list-group-item">Robin Nag</li>
      </ul>
    </div>
  </div>
  <div class="row go-btn-row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <button class="btn go-btn form-control" ng-click="init()">Get to work!</button>
    </div>
  </div>
</div>
